<h1>Information for {{car.model}}</h1>
<img src="{{car.image}}"
     class="img-responsive thubnailPicture"
     alt="Car Image">
<hr>
<a ui-sref="home.main.content"
   role="button"
   class="btn btn-warning"> Go back
</a>