<div class="row">
    <div class="container-fluid">
        <div class="well contacts">
            <form class="form-horizontal"
                  method="post">
                <fieldset>
                    <legend class="text-center header">Contact us</legend>
                    <div class="form-group">
                        <div class="col-md-10 col-md-offset-1">
                            <input id="fname"
                                   name="name"
                                   type="text"
                                   placeholder="First Name"
                                   class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10 col-md-offset-1">
                            <input id="lname"
                                   name="name"
                                   type="text"
                                   placeholder="Last Name"
                                   class="form-control">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-10 col-md-offset-1">
                            <input id="email"
                                   name="email"
                                   type="text"
                                   placeholder="Email Address"
                                   class="form-control"
                                   required>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-10 col-md-offset-1">
                            <input id="phone"
                                   name="phone"
                                   type="text"
                                   placeholder="Phone"
                                   class="form-control">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-10 col-md-offset-1">
                            <textarea class="form-control"
                                      id="message"
                                      name="message"
                                      placeholder="Enter your massage here. We will get back to you within 2 business days."
                                      rows="7"
                                      required>
                            </textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12 text-center">
                            <button type="submit"
                                    class="btn btn-primary">Submit
                            </button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>


