<div class="container-fluid dealsPage">
    <div class="row">
        <div class="col-md-12">
            <div class="banner"
                 ui-sref="results">
                <img src="img/offers.png">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">

        </div>
        <div class="col-md-2"
             id="offerDetails">
            <button type="button"
                    class="btn btn-lg btn-warning"
                    data-toggle="modal"
                    data-target="#viewDealDetailsBtn">
                Read offer details
            </button>
        </div>
    </div>

    <!-- Modal -->
    <div id="viewDealDetailsBtn"
         class="modal fade"
         role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button"
                            class="close"
                            data-dismiss="modal">
                        &times;
                    </button>
                    <h4 class="modal-title"><b>Best family deal for long-term rental</b></h4>
                </div>
                <div class="modal-body">
                    <p>
                        Deal is valid from 01 January to 20 March and based on condition that car is rented
                        minimum for 7 days in a row.
                    </p>
                    <p>
                        Amazingly rare, these are some of the most sought after Ford GTs that were ever built. '
                        'Now, one is for sale in the Middle East at Topline Motors
                    </p>
                    <p>
                        Amazingly rare, these are some of the most sought after Ford GTs that were ever built. '
                        'Now, one is for sale in the Middle East at Topline Motors
                    </p>
                    <img src="img/cars/car14.jpg">
                    <p>
                        Amazingly rare, these are some of the most sought after Ford GTs that were ever built. '
                        'Now, one is for sale in the Middle East at Topline Motors
                    </p>

                </div>
                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-default"
                            data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>