<div class="container">
    <div class="well">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div>
                    <h4>
                        <ul class="nav navbar-nav">
                            <li><a ui-sref="home.main">Home</a></li>
                            <li><a ui-sref="home.deals">Best deals</a></li>
                            <li><a ui-sref="home.contacts">Contacts</a></li>
                        </ul>

                        <ul class="nav navbar-nav navbar-right">
                            <h6><li><a ui-sref="auth.signin"><span class="glyphicon glyphicon-user"></span> Sign in</a></li></h6>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <h6><li><a ui-sref="auth.register"><span class="glyphicon glyphicon-user"></span> Register</a></li></h6>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <h6><li><a ui-sref="admin"><span class="glyphicon glyphicon-lock"></span> Admin</a></li></h6>
                        </ul>
                    </h4>
                </div>
            </div>
        </nav>
    </div>

    <div ui-view></div>

</div>