
<div class="well">
    <h2>Rent a car right now </h2>
    <p>Welcome and select any car you like!</p>
</div>

<!--Search Panel Component-->
<div ng-include="'html_components/searchPanel.html'"></div>

<div ui-view></div>

<!--Footer-->
<div ng-include="'html_components/footer.html'"></div>

