<form>
    <div class="container-fluid">
        <div class="row">
            <div class="well col-md-12">
                <div class="row">
                    <div class="col-md-2">
                        <input ng-model="carName"
                               placeholder="  search for a car...">
                    </div>
                    <div class="col-md-2 dropdown sortResults">
                        <button class="btn btn-primary dropdown-toggle"
                                id="searchButton"
                                type="button"
                                data-toggle="dropdown">Sort results by:  |
                            <span class="caret"></span></button>
                        <ul class="dropdown-menu"
                            id="searchButtonDropdown">
                            <li><a href="#">Price</a></li>
                            <li><a href="#">Car Class</a></li>
                            <li><a href="#">Location</a></li>
                            <li><a href="#">Color</a></li>
                            <li><a href="#">Max. number of people</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 col-md-4"
                 ng-repeat = "car in filteredCars | filter:carName">
                <div class="thumbnail">
                    <h5><span class="label label-danger">{{car.bookedLabel}}</span></h5>
                    <img src="{{car.image}}"
                         class="img-responsive thubnailPicture"
                         alt="Car Image">
                    <div class="caption" >
                        <h3>{{car.model}}</h3>
                        <h5><p>{{car.description}}</p></h5>
                        <p><a ui-sref="home.main.carDetails({carId:$index})"
                              class="btn btn-primary"
                              role="button">Book</a>
                            <a ui-sref="home.main.carInfo({carId:$index})"
                               class="btn btn-info"
                               role="button"
                               data-toggle="modal"
                               data-target="#modalInfo">Info</a>
                        </p>
                    </div>
                </div>
            </div>

            <uib-pagination total-items="totalItems"
                            ng-model="currentPage"
                            class="pagination-lg"
                            boundary-links="true">
            </uib-pagination>
        </div>
    </div>
</form>

<!--Footer-->
<div ng-include="'html_components/footer.html'"></div>