<div class="container searchPanel"
     style="margin-top:30px">
    <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-default searchPanel">
            <div class="panel-body">
                <form role="form" class="searchForm">
                    <div class="row">
                        <div class="col-xs-12 col-sm-3 col-md-3">
                            <div class="form-group">
                                <select type="text"
                                        name="country"
                                        id="country"
                                        class="form-control"
                                        tabindex="-1">
                                  <option value="">Country...</option>
                                  <option value="ALB">Albania</option>
                                  <option value="ARM">Armenia</option>
                                  <option value="AUS">Australia</option>
                                  <option value="AUT">Austria</option>
                                  <option value="BLR">Belarus</option>
                                  <option value="BEL">Belgium</option>
                                  <option value="BIH">Bosnia and Herzegovina</option>
                                  <option value="BGR">Bulgaria</option>
                                  <option value="BFA">Burkina Faso</option>
                                  <option value="HRV">Croatia</option>
                                  <option value="CYP">Cyprus</option>
                                  <option value="CZE">Czech Republic</option>
                                  <option value="DNK">Denmark</option>
                                  <option value="EST">Estonia</option>
                                  <option value="FIN">Finland</option>
                                  <option value="FRA">France</option>
                                  <option value="GEO">Georgia</option>
                                  <option value="DEU">Germany</option>
                                  <option value="GHA">Ghana</option>
                                  <option value="GIB">Gibraltar</option>
                                  <option value="GRC">Greece</option>
                                  <option value="HUN">Hungary</option>
                                  <option value="IRL">Ireland</option>
                                  <option value="ITA">Italy</option>
                                  <option value="LVA">Latvia</option>
                                  <option value="LIE">Liechtenstein</option>
                                  <option value="LTU">Lithuania</option>
                                  <option value="LUX">Luxembourg</option>
                                  <option value="MKD">Macedonia </option>
                                  <option value="MDA">Moldova </option>
                                  <option value="MCO">Monaco</option>
                                  <option value="MNE">Montenegro</option>
                                  <option value="NLD">Netherlands</option>
                                  <option value="NOR">Norway</option>
                                  <option value="POL">Poland</option>
                                  <option value="PRT">Portugal</option>
                                  <option value="ROU">Romania</option>
                                  <option value="RUS">Russian Federation</option>
                                  <option value="SRB">Serbia</option>
                                  <option value="SVK">Slovakia</option>
                                  <option value="SVN">Slovenia</option>
                                  <option value="ESP">Spain</option>
                                  <option value="SWE">Sweden</option>
                                  <option value="CHE">Switzerland</option>
                                  <option value="TUN">Tunisia</option>
                                  <option value="TUR">Turkey</option>
                                  <option value="TKM">Turkmenistan</option>
                                  <option value="UKR">Ukraine</option>
                                  <option value="GBR">United Kingdom</option>
                                  <option value="USA">United States</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-3 col-md-3"
                             ng-controller="getLocationsCtrl">
                            <div class="form-group">
                                <input type="text"
                                       ng-model="asyncSelected"
                                       uib-typeahead="address for address in getLocation($viewValue)"
                                       typeahead-loading="loadingLocations"
                                       typeahead-no-results="noResults"
                                       name="city"
                                       id="city"
                                       class="form-control"
                                       placeholder="City"
                                       tabindex="2">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-3 col-md-3"
                             ng-controller="getLocationsCtrl">
                            <div class="form-group">
                                <input type="text"
                                       ng-model="asyncSelected"
                                       uib-typeahead="address for address in getLocation($viewValue)"
                                       typeahead-loading="loadingLocations"
                                       typeahead-no-results="noResults"
                                       name="location"
                                       id="location"
                                       class="form-control "
                                       placeholder="Location"
                                       tabindex="3">
                                <i ng-show="loadingLocations"
                                   class="glyphicon glyphicon-refresh">
                                </i>
                                <div ng-show="noResults">
                                    <i class="glyphicon glyphicon-remove"></i> No Results Found
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-3 col-md-3">
                            <div class="form-group">
                                <select type="text"
                                        name="driverAge"
                                        id="driverAge"
                                        class="form-control">
                                    <option value="driverAge">  Your age   </option>
                                    <option value="18_25">  18-25   </option>
                                    <option value="26_40">  26-40   </option>
                                    <option value="41_60">  41-60   </option>
                                    <option value="over60"> over 60 </option>
                                </select>
                            </div>
                        </div>
                    </div>

                      <div class="row">
                          <div class="col-xs-12 col-sm-3 col-md-6"
                               ng-controller="datePickerCtrl">
                              <h6> Date from ... </h6>
                              <p class="input-group">
                                  <input type="text"
                                         class="form-control"
                                         uib-datepicker-popup ng-model="dt"
                                         is-open="popup.opened"
                                         datepicker-options="dateOptions"
                                         ng-required="true"
                                         placeholder="Date from ..."
                                         close-text="Close"/>
                                  <span class="input-group-btn">
                                      <button type="button"
                                              class="btn btn-default"
                                              ng-click="open()">
                                          <i class="glyphicon glyphicon-calendar"></i>
                                      </button>
                                  </span>
                              </p>
                          </div>
                          <div class="col-xs-12 col-sm-3 col-md-6"
                               ng-controller="datePickerCtrl">
                              <h6> Date to ... </h6>
                              <p class="input-group">
                                  <input type="text"
                                         class="form-control"
                                         uib-datepicker-popup ng-model="dt"
                                         is-open="popup.opened"
                                         datepicker-options="dateOptions"
                                         ng-required="true"
                                         ng-model="selectedDate"
                                         placeholder="Date to ..."
                                         close-text="Close"/>
                                  <span class="input-group-btn">
                                      <button type="button"
                                              class="btn btn-default"
                                              ng-click="open()">
                                          <i class="glyphicon glyphicon-calendar"></i>
                                      </button>
                                  </span>
                              </p>
                          </div>
                      </div>

                      <hr>

                      <div class="row">
                          <div ng-controller="timePickerCtrl">
                            <div class="col-xs-12 col-sm-3 col-md-2">
                                <h6> Time from ... </h6>
                            </div>
                            <div class="col-xs-12 col-sm-3 col-md-4">
                                <uib-timepicker ng-model="selectedTime"
                                                ng-change="changed()" 
                                                hour-step="hstep" 
                                                minute-step="mstep" 
                                                show-meridian="ismeridian">
                                </uib-timepicker>
                            </div>
                            <div class="col-xs-12 col-sm-3 col-md-6">
                              <pre class="alert alert-info">Selected time from:{{selectedTime | date:'shortTime' }}</pre>
                            </div>
                          </div>
                      </div>

                      <hr>

                      <div class="row">
                          <div ng-controller="timePickerCtrl">
                            <div class="col-xs-12 col-sm-3 col-md-2">
                                <h6> Time to ... </h6>
                            </div>
                            <div class="col-xs-12 col-sm-3 col-md-4">
                                <uib-timepicker ng-model="selectedTime"
                                                ng-change="changed()" 
                                                hour-step="hstep" 
                                                minute-step="mstep" 
                                                show-meridian="ismeridian">
                                </uib-timepicker>
                            </div>
                            <div class="col-xs-12 col-sm-3 col-md-6">
                              <pre class="alert alert-info">Selected time to: {{selectedTime | date:'shortTime' }}</pre>
                            </div>
                          </div>
                      </div>

                    <a ui-sref="home.main.content"
                       class="btn btn-success"
                       type="submit">
                        Search
                    </a>
                    <hr style="margin-top:10px;margin-bottom:10px;" >
                </form>
            </div>
        </div>
    </div>
</div>