div div.banner {
    background-color: #2f96b4;
    background: linear-gradient(to right,#006dcc, springgreen);
    height: 500px;
    width: 100%;
    cursor: pointer;
}

div.banner img{
    padding-top: 5px;
    padding-left: 10%;
}

div#offerDetails {
    padding-top: 10px;
}

#offerDetails button{
    align-self: flex-end;
}

div.modal-content{
    height: 850px;
    padding: 20px;
}

div .dealsPage{
    padding-right: 0px;
    padding-left: 0px;
}