@import "signin.css";
@import "register.css";
@import "deals.css";
@import "contacts.css";


body {
    color: #0066ff;
}

body .well{
	text-align: center;
}

/*div.container-fluid{*/
    /*padding-right: 0px;*/
    /*padding-left: 0px;*/
/*}*/

.well{
    background-color: #eee;
}

.row{
    display: block;
}

  
/* Home page */
.carousel-inner>.item>a>img,
.carousel-inner>.item>img,
.img-responsive,
.thumbnail a>img,
.thumbnail>img {
    padding: 10px;
    display: block;
    max-width: auto;
    height: 180px;
}

/*Link styles*/
.navbar-default
.navbar-nav>li>a:focus,
.navbar-default
.navbar-nav>li>a:hover {
    color: #002a80;
    font-weight: bold;
}

li a{
    padding-right: 10px;
}

/* Positioning should be REFACTORED! */
.sortResults{
    float: right;
}

.searchPanel{
    position:relative;
    left: -6.3%;
    width:112.5%;
}

#searchButton{
    position:relative;
    left: -3%;
}

#searchButtonDropdown{
    left: -3%;
}


/* Modal Window */
.modalInfo{
    min-height: 700px;
    min-width: 500px;
}

.modal-content img{
    width: 500px;
    height: auto;
}

.modal-content{
    font-size:1.4em;
}


/* Footer */
footer{
    width: 400px;
    margin: 0 auto;
}


/* Pagination */
.pagination {
    padding-left: 30%;
}

